<%= simple_form_for([cohort, day]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :as=> 'string' ,:label => 'New Day', input_html: { class: 'datepicker' } %>
    <%= f.association :activities, collection: Activity.where(everyday: false).order(:name), prompt: "Choose Activities For The Day"  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
