<h1>Date: <%= @day.name %></h1>

<div class="row">
  <div class="col s8">

    <% @day.groups.group_by(&:start_time).each do |time, daygroups| %>
        <h4><%= time.strftime('%I:%M') %></h4>



        <div class="row">
        <% daygroups.each do |daygroup| %>
          <div class="col s12 m6">
            <div class="card group droppable sticky-action" id="<%= daygroup.id %>" data-id="<%= daygroup.id %>">
              <div class="card-content">
                <span class="card-title"><%= daygroup.name %></span>

                  <ul class="collection ">
                    <% daygroup.students.each do |student| %>
                      <li class="collection-item removestudent" id="<%= student.id %>" data-id="<%= student.id %>"><%= student.name %></li>
                    <% end %>
                  </ul>

              </div>



              <div class="card-action">
                  <%= daygroup.user.name %>
                  <%= link_to "Edit Group", edit_cohort_day_group_path(@cohort.id, @day.id, daygroup.id), class: "btn btn-primary" %>
              </div>

              <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                <p>Here is some more information about this product that is only revealed once clicked on.</p>
              </div>

            </div>
          </div>
        <% end %>
        </div>
      <% end %>


      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header"><i class="material-icons">filter_drama</i>Create New Group</div>
          <div class="collapsible-body"><span>
            <%= render partial: '/groups/form', locals: {cohort: @cohort, day: @day, group: @day.groups.build} %>
          </span></div>
        </li>
      </ul>
  </div>
    <div class="col s4 students">
      <ul class="collection with-header">
        <li class="collection-header"><h4><%= @day.cohort.start_date %> Cohort <%= @day.cohort.students.count %> Students</h4></li>
        <% @day.cohort.students.each do |student| %>
            <%= content_tag 'div', class: 'collection-item draggable', id: "#{student.id}", data: {id: "#{student.id}"} do %>
                <li><%= student.name %></li>
            <% end %>
          <% end %>
      </ul>
    </div>
</div>
<div class="row">
  <div class="col s12">
  <div class="divider"></div>
  </div>
</div>
<div class="row">
  <div class="col s12 m6 l6">
    <%= link_to "Back to cohort days", cohort_path(@cohort), class: "btn btn-primary" %>
  </div>
</div>
